<a href="https://colab.research.google.com/github/ShilpiShaw25/ABgitbashtesting/blob/master/python_practice_code_snippet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tuple=('shilpi',10,9.5)
my_list=['shilpi',10,9.5]
print(my_tuple)
print(my_list)
my_list[0]='Pawan'
print('My list items',my_list)

('shilpi', 10, 9.5)
['shilpi', 10, 9.5]
My list items ['Pawan', 10, 9.5]

In [ ]:
# func accepts var argument also known as prototype
def func(*data):
  for i in data:
    print(i)

func(1)
func(20,1,9,4)

1
20
1
9
4

In [ ]:
x=10
print(x)


type(my_tuple)

10

tuple

In [ ]:
def my_empty_func():
  pass
my_empty_func

In [ ]:

# function that takes variable number of arguments

def func(*var):
   for i in var:
       print(i)
func(1)
func(20,1,6)

1
20
1
6

In [ ]:
def check_unique(myList):
  if(len(myList)==len(set(myList))):
    print("the list has unique items")
  else:
    print("the list has repeated items")

myList1=[1,2,3,4]
myList2=[1,2,2,4,3]

check_unique(myList1)
check_unique(myList2)

the list has unique items
the list has repeated items

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
print('abcd,\n\tbcnf,\n\thjhj.\njkkk')

abcd,
	bcnf,
	hjhj.
jkkk

In [ ]:
#circle area
from math import pi

r=float(input("enter the radius"))

print('the area of a circle with radius' +str(r)+ 'is '+str( pi*(r**2)))

enter the radius1.2
the area of a circle with radius1.2is 4.523893421169302

In [ ]:
t=8.9
print("t is "+str(t))

t is 8.9

In [ ]:


first= input("enter your first name")
last=input("enter your first name")

print("the reversed order is "+last+ " " +first)

enter your first nameshilpi
enter your first nameshaw
the reversed order is shaw shilpi

In [ ]:
# values to list & tuple

x=input("input some comma seperated numbers ")
list=x.split(',')
print('list is ',list)
tuple=tuple(list)
print('tuple is ',tuple)

input some comma seperated numbers 1,2
list is  ['1', '2']

TypeError: ignored

In [ ]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : '+str(tuple))

Input some comma seprated numbers : 1,2,3,3

TypeError: ignored

In [ ]:
# split extention
file_name =input('enter the file name ')
extention_name=file_name.split('.')
print(extention_name[-1])

enter the file name we.py
'py'